<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/root.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Blog app</h1>
    <ul>
      <li><a href="/users/signin">sign in</a></li>
      <li><a href="/users/login">log in</a></li>
      <li><a href="/users/logout">log out</a></li>
    </ul>
    <div class="container"><%- body %></div>
  </body>
</html>
